certifi==2023.11.17
cffi==1.15.1
charset-normalizer==2.0.12
crypto==1.4.1
cryptography==40.0.2
idna==3.6
Naked==0.1.32
pkcs1==0.9.7
pkg_resources==0.0.0
pycparser==2.21
pycryptodome==3.19.0
PyYAML==6.0.1
requests==2.27.1
shellescape==3.8.1
urllib3==1.26.18
